#MainWindows {
    width: 1280px;
    position: relative;
    height: 600px;
    margin-left: -70px;
    background-color: azure;
    line-height: 30px;
}

#Content-List {
    position: absolute;
    left: 50px;
    top: 50px;
    bottom: 50px;
    right: 50px;
}

#PageLast {
    width: 33%;
    margin-top:6px;
    font-size: 20px;
}

#PageRefresh {
    width: 33%;
    margin-top: 6px;
    font-size: 20px;
}

#PageNext {
    width: 33%;
    margin-top: 6px;
    font-size: 20px;
}

#footer {
    position: absolute;
    width: 98%;
    height: 8%;
    text-align: center;
    left: 1%;
    bottom: 1%;
    background-color: aliceblue;
}
.olHeader {
    width: 24%;
    background-color: beige;
    margin-top: 6px;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    border: solid;
}

#olHeader {
    position: absolute;
    width: 98%;
    height: 8%;
    text-align: center;
    top: 1%;
    left: 1%;
    background-color:aliceblue;
}
.LableList{
    color:black;
}
.itemSingleBG {
    background-color: antiquewhite;
}

.itemSecondBG {
    background-color:darkseagreen;
}