
@{
    ViewBag.Title = "HomePage";
}


<div id="MainWindows">
    <div id="olHeader">
        <!--lable标签显示列表头-->
        <lable class="olHeader">评论ID</lable>
        <lable class="olHeader">评论摘要</lable>
        <lable class="olHeader">被评论者</lable>
        <lable class="olHeader">评论者</lable>
    </div>
    <ol id="Content-List">
    </ol>
    <div id="footer">
    <button type="button" id="PageNext" >下一页</button>
    <button type="button" id="PageLast" >上一页</button>
    <button type="button" id="PageRefresh"  onclick="GetData()">刷新数据</button>
    </div>
</div>




