
@{
    ViewBag.Title = "SelectRole";
}
@using X.PagedList
@using X.PagedList.Mvc

<table class="table">
    @foreach (var v in ViewBag.RoleList)
    {
        <tr><td>@v.RoleName</td><td>@v.RoleDetails</td></tr>
    }
</table>
@Html.PagedListPager((IPagedList)ViewBag.RoleList,  indexpage => Url.Action("SelectRole", new { page = indexpage }));

<h2>SelectRole</h2>

