
@{
    ViewBag.Title = "GetUserInfo";
}
<div class="panel-group" id="accordion">
    <div class="panel panel-default" id="UserInfoBlock">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" v-on:click="updateHide"
                   href="#UserInfo">
                    <span class="text-danger" style="text-shadow: white 5px 3px 3px;">
                        <span class="glyphicon glyphicon-user">The user's specific information.</span>
                    </span>
                </a>
                <a v-on:click="updateUser" href="javascript:void(0);" v-show="hide"><span class="badge badge-light  pull-right">修改</span></a>
                <a v-on:click="submitUser" href="javascript:void(0);" v-show="update"><span class="badge badge-light  pull-right">提交</span></a>
            </h4>
        </div>
        <div id="UserInfo" class="panel-collapse collapse in">
            <div class="panel-body fade in">
                <form role="form">
                    <div class="row form-group">
                        <div class="col-lg-6">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <label for="id" class="col-lg-3">ID:</label><span class="text-danger @*sr-only*@">{{id}}</span>
                                    <input type="text" placeholder="点击修改" v-model="id" id="id" v-show="update" class="form-control" disabled />
                                </li>
                                <li class="list-group-item">
                                    <label for="name" class="col-lg-3">Name:</label><span class="text-danger">{{name}}</span>
                                    <input type="text" placeholder="点击修改" v-model="name" id="name" v-show="update" class="form-control" />
                                </li>
                                <li class="list-group-item">
                                    <label for="age" class="col-lg-3">Age:</label><span class="text-danger">{{age}}</span>
                                    <input type="text" placeholder="点击修改" v-model="age" id="name" v-show="update" class="form-control" />
                                </li>
                                <li class="list-group-item">
                                    <label for="birthday" class="col-lg-3">Birthday:</label><span class="text-danger">{{birthday}}</span>
                                    <input type="text" placeholder="点击修改" v-model="birthday" id="birthday" v-show="update" class="form-control" />
                                </li>
                                <li class="list-group-item">
                                    <label for="address" class="col-lg-3">Address:</label><span class="text-danger">{{address}}</span>
                                    <input type="text" placeholder="点击修改" v-model="address" id="address" v-show="update" class="form-control" />
                                </li>
                                <li class="list-group-item">
                                    <label for="imgUser" class="col-lg-3">User-Img:</label><span class="text-danger">{{imgUser}}</span>
                                    <input type="text" placeholder="点击修改" v-model="imgUser" id="imgUser" v-show="update" class="form-control" />
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-group form-group">
                                <li class="list-group-item">
                                    <label for="sex" class="col-lg-4">Sex:</label><span class="text-danger">{{sex}}</span>
                                    <input type="text" placeholder="点击修改" v-model="sex" id="sex" v-show="update" class="form-control" />
                                </li>
                                <li class="list-group-item">
                                    <label for="phone" class="col-lg-4">Phone:</label><span class="text-danger">{{phone}}</span>
                                    <input type="text" placeholder="点击修改" v-model="phone" id="phone" v-show="update" class="form-control" />
                                </li>
                                <li class="list-group-item">
                                    <label for="workPhone" class="col-lg-4">Work-Phone:</label><span class="text-danger">{{workPhone}}</span>
                                    <input type="text" placeholder="点击修改" v-model="workPhone" id="workPhone" v-show="update" class="form-control" />
                                </li>
                                <li class="list-group-item">
                                    <label for="email" class="col-lg-4">Email:</label><span class="text-danger">{{email}}</span>
                                    <input type="text" placeholder="点击修改" v-model="email" id="email" v-show="update" class="form-control" />
                                </li>
                                <li class="list-group-item">
                                    <label for="qq" class="col-lg-4">QQ:</label><span class="text-danger">{{qq}}</span>
                                    <input type="text" placeholder="点击修改" v-model="qq" id="qq" v-show="update" class="form-control" />
                                </li>
                                <li class="list-group-item">
                                    <label for="currentAddress" class="col-lg-4">Current-Address:</label><span class="text-danger">{{currentAddress}}</span>
                                    <input type="text" placeholder="点击修改" v-model="currentAddress" id="currentAddress" v-show="update" class="form-control" />
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-12">
                            <label for="details" class="col-lg-1">Details:</label><span class="text-danger">{{details}}</span>
                            <textarea class="form-control" rows="3" placeholder="点击修改" v-model="details" id="details" v-show="update"></textarea>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#CoreSkills">
                    <span class="text-danger" style="text-shadow: white 5px 3px 3px;">
                        <span class="glyphicon glyphicon-user">The user's core skills.</span>
                    </span>
                </a>
            </h4>
        </div>
        <div id="CoreSkills" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-responsive">
                            <caption>
                                <h4>Core Skills Information</h4>
                            </caption>
                            <thead class="bg-success">
                                <tr>
                                    <th>ProfessionalID</th>
                                    <th>ProfessionalName</th>
                                    <th>ProfessionalDetails</th>
                                    <th>CoreSkillID</th>
                                    <th>CoreSkillName</th>
                                    <th>CoreSkillGuid</th>
                                    <th>CoreSkillsDetails</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>软件测试和维护</td>
                                    <td>测试工程师</td>
                                    <td>软件测试和维护</td>
                                    <td>测试工程师</td>
                                    <td>软件测试和维护</td>
                                    <td>测试工程师</td>
                                    <td>软件测试和维护</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#TeachSkills">
                    <span class="text-danger" style="text-shadow: white 5px 3px 3px;">
                        <span class="glyphicon glyphicon-user">The user's teach skills.</span>
                    </span>
                </a>
            </h4>
        </div>
        <div id="TeachSkills" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-responsive">
                            <caption>
                                <h4>Core Skills Information</h4>
                            </caption>
                            <thead class="bg-success">
                                <tr>
                                    <th>ProfessionalID</th>
                                    <th>ProfessionalName</th>
                                    <th>ProfessionalDetails</th>
                                    <th>TeachSkillID</th>
                                    <th>TeachkillName</th>
                                    <th>TeachSkillGuid</th>
                                    <th>TeachSkillsDetails</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>软件测试和维护</td>
                                    <td>测试工程师</td>
                                    <td>软件测试和维护</td>
                                    <td>测试工程师</td>
                                    <td>软件测试和维护</td>
                                    <td>测试工程师</td>
                                    <td>软件测试和维护</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#RoleInfo">
                    <span class="text-danger" style="text-shadow: white 5px 3px 3px;">
                        <span class="glyphicon glyphicon-user">The user's role information.</span>
                    </span>
                </a>
            </h4>
        </div>
        <div id="RoleInfo" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-responsive">
                            <caption>
                                <h4>Role Information</h4>
                            </caption>
                            <thead class="bg-success">
                                <tr>
                                    <td>RoleName</td>
                                    <td>RoleDetails</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>测试工程师</td>
                                    <td>软件测试和维护</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#JobsInfo">
                    <span class="text-danger" style="text-shadow: white 5px 3px 3px;">
                        <span class="glyphicon glyphicon-user">The user's job information.</span>
                    </span>
                </a>
            </h4>
        </div>
        <div id="JobsInfo" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-responsive">
                            <caption>
                                <h4>Job Information</h4>
                            </caption>
                            <thead class="bg-success">
                                <tr>
                                    <th>RoleID</th>
                                    <th>RoleName</th>
                                    <th>ProfessionalID</th>
                                    <th>ProfessionalName</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>测试工程师</td>
                                    <td>软件测试和维护</td>
                                    <td>测试工程师</td>
                                    <td>软件测试和维护</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var userInfo = new Vue({
        el: '#UserInfoBlock',
        data: {
                id: '1',
                name: '付博文',
                age: '22',
                birthday: '1998-08-08',
                sex: '男',
                phone: '17854118859',
                workPhone: '17854118859',
                qq: '2251754654',
                email: '2251754654@qq.com',
                address: '山东济南',
                currentAddress: '山东济南',
                imgUser: '头像',
                details: '个人简介',
            update: false,//是否显示提交按钮
            hide: true,//是否显示修改按钮
        },
        methods: {
            updateUser: function () {
                if (this.update) {
                    this.update = false;
                } else {
                    this.update = true;
                }
            },//是否隐藏提交按钮
            updateHide: function () {
                if (this.hide) {
                    this.hide = false;
                } else {
                    this.hide = true;
                }
            },//是否隐藏更新按钮
            submitUser: function () {
                //提交表单数据
                //表单序列化
                var formData = {
                    UserInfoID: this.id,
                    UserInfoName: this.name,
                    UserInfoBirthday: this.birthday,
                    sex: this.sex,
                    UserPhone: this.phone,
                    UserInfoWorkPhone: this.workPhone,
                    UserInfoQQ: this.qq,
                    UserInfoEmail: this.email,
                    UserInfoAddress: this.address,
                    UserCurrentAddress: this.currentAddress,
                    imgUser: this.imgUser,
                    UserInfoDetails: this.details
                };
                var formJson = JSON.stringify(formData);
                this.post('/UserInfo/UpdateUserInfo',formJson);
            },//提交数据
            FindUserIn: function () {  //填充查询的数据

            },
            post: function (url,formJson) {
                this.$http.post(url, formJson, { emulateJSON: true }).then(function (result) {
                    alert("修改成功!");
                    return result;
                }, function (error) {
                    alert("服务器错误");
                    return error;
                });
            },
        },
        filters: {
            //过滤器
        },


    });

</script>