
#UserInfoContent {
    width: 100%;
    background-color: aqua;
}

.UserInfo {
    height: 40px;
    width: 100%;
    background-color: aquamarine;
}

#UserInfoTitle {
    text-align: center;
}
.UserInfoSinger {
    background-color: azure;
}
.UserInfoHeader{
    color:black;
    width:15%;
}
.UserInfoFooter {
    color: burlywood;
    width:15%;
}

/*显示核心技能信息*/
#UserInfoCoreSkills {
}
#UserInfoCoreSkillsList{

}
.UserInfoCoreSkillsListItem {
}
/*显示专业技能信息*/
#UserInfoTeackSkills{

}
#UserInfoTeackSkillsList {
}
#UserInfoTeackSkillsListItem {
}

/*显示角色和职位*/
#UserInfoRole {

}
#UserInfoRoleList {
}
#UserInfoRoleListItem {
}
/*超链接样式*/
#UserInfoA {
    display: block;
    width: 100%;
    font-size: 25px;
    background-color:azure;
}
#UserInfoB {
    display: block;
    width: 100%;
    font-size: 25px;
    background-color: azure;
}
#UserInfoC {
    display: block;
    width: 100%;
    font-size: 25px;
    background-color: azure;
}
