
@{
    ViewBag.Title = "AdminPage";
}
<div class="row">
    <section>
        <div>
            <div id="CoreManage">
                <table class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr class="bg-info">
                            <th>CoreSkillsID</th>
                            <th>CoreSkillsName</th>
                            <th>CoreSkillsGUID</th>
                            <th>CoreSkillsDetails</th>
                            <th><a href="#"><span class="glyphicon glyphicon-refresh">&nbsp;Update</span></a></th>
                            <th><a href="#"><span class="glyphicon glyphicon-fire">&nbsp;Delete</span></a></th>
                            <th><a href="#"><span class="glyphicon glyphicon-fire">&nbsp;AddLever</span></a></th>
                            <th><a href="#"><span class="glyphicon glyphicon-fire">&nbsp;LeverList</span></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value,index) in coreSkillsList">
                            <td>{{value.CoreSkillsID}}</td>
                            <td>{{value.CoreSkillsName}}</td>
                            <td>{{value.CoreSkillsGUID}}</td>
                            <td>{{value.CoreSkillsDetails}}</td>
                            <td><a data-toggle="modal" href="#updateCoreSkills" v-on:click="GetCoreSkills(index)"><span class="glyphicon glyphicon-refresh">&nbsp;Update</span></a></td>
                            <td><a v-on:click="daleteCoreSkills(index)"><span class="glyphicon glyphicon-fire">&nbsp;Delete</span></a></td>
                            <td><a data-toggle="modal" href="#addLever" v-on:click="GetCoreSkillsID(index)"><span class="glyphicon glyphicon-fire">&nbsp;AddLever</span></a></td>
                            <td>
                                
                                <div class="dropdown">
                                    <a data-toggle="dropdown"  v-on:click="findLeverList(index)">LeverList<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="DropList">
                                        <li>
                                                <span class="glyphicon glyphicon-paperclip">&nbsp;</span><strong class="text-uppercase">LeverList</strong>
                                        </li>
                                        <li>
                                            <div>
                                                <span class="col-lg-4 text-primary bg-light rounded-circle">ID</span>
                                                <span class="col-lg-4 text-info bg-light">Name</span>
                                                <span class="col-lg-4 text-info bg-light">Delete</span>
                                            </div>
                                        </li>
                                        <li v-for="(leverListItem,leverListIndex) in leverList">
                                            <div>
                                                <span class="col-lg-4 text-primary bg-light">{{leverListItem.CoreLeverID}}</span>
                                                <span class="col-lg-4 text-info bg-light">{{leverListItem.CoreLeverNum}}</span>
                                                <a class="col-lg-4 text-danger bg-danger" v-on:click="deleteLever(index,leverListIndex)">Delete</a>
                                            </div>
                                        </li>
                                        <li>
                                            <ul class="pagination pagination-sm">
                                                <li><a href="#">&laquo;</a></li>
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li><a href="#">&raquo;</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ol class="breadcrumb">
                    <li class="text-warning">CoreSkillsManage</li>
                    <li><a class="text-danger" data-toggle="modal" href="#addCoreSkills">AddCoreSkills</a></li>
                </ol>
                <!-- 插入模态框（Modal） -->
                <div class="modal fade" id="addCoreSkills" tabindex="-1" role="dialog" aria-labelledby="addCoreSkillsHead" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="addCoreSkillsHead">
                                    Insert CoreSkills
                                </h4>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group form-group">
                                    <li class="list-group-item">
                                        <label class="text-info" for="CoreSkillsName">CoreSkillsName</label>
                                        <input type="text" placeholder="CoreSkillsName" class="form-control" id="CoreSkillsName" v-model="coreSkillsObj.CoreSkillsName" />
                                    </li>
                                    <li class="list-group-item">
                                        <label class="text-info" for="CoreSkillsDetails">CoreSkillsDetails</label>
                                        <input type="text" placeholder="CoreSkillsDetails" class="form-control" id="CoreSkillsDetails" v-model="coreSkillsObj.CoreSkillsDetails" />
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-block btn-info" v-on:click="insertCoreSkills">提交</button>
                                <button type="button" data-dismiss="modal" class="btn btn-block btn-danger">退出</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <!-- 更新模态框（Modal） -->
                <div class="modal fade" id="updateCoreSkills" tabindex="-1" role="dialog" aria-labelledby="updateCoreSkillsHead" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="updateCoreSkillsHead">
                                    Update CoreSkills
                                </h4>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group form-group">
                                    <li class="list-group-item">
                                        <label class="text-info" for="CoreSkillsID">CoreSkillsID</label>
                                        <input type="text" placeholder="CoreSkillsID" class="form-control" id="CoreSkillsID" v-model="coreSkillsObj.CoreSkillsID" disabled />
                                    </li>
                                    <li class="list-group-item">
                                        <label class="text-info" for="CoreSkillsGUID">CoreSkillsGUID</label>
                                        <input type="text" placeholder="CoreSkillsGUID" class="form-control" id="CoreSkillsGUID" v-model="coreSkillsObj.CoreSkillsGUID" disabled />
                                    </li>
                                    <li class="list-group-item">
                                        <label class="text-info" for="CoreSkillsName">CoreSkillsName</label>
                                        <input type="text" placeholder="CoreSkillsName" class="form-control" id="CoreSkillsName" v-model="coreSkillsObj.CoreSkillsName" />
                                    </li>
                                    <li class="list-group-item">
                                        <label class="text-info" for="CoreSkillsDetails">CoreSkillsDetails</label>
                                        <input type="text" placeholder="CoreSkillsDetails" class="form-control" id="CoreSkillsDetails" v-model="coreSkillsObj.CoreSkillsDetails" />
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-block btn-info" v-on:click="updateCoreSkills">提交</button>
                                <button type="button" data-dismiss="modal" class="btn btn-block btn-danger">退出</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <!-- 插入等级模态框（Modal） -->
                <div class="modal fade" id="addLever" tabindex="-1" role="dialog" aria-labelledby="AddLeverHead" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="AddLeverHead">
                                    Insert CoreSkillsLever
                                </h4>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group form-group">
                                    <li class="list-group-item">
                                        <label class="text-info" for="CoreSkillsID">CoreSkillsID</label>
                                        <input type="text" placeholder="CoreSkillsID" class="form-control" id="CoreSkillsID" v-model="LeverItem.CoreSkillsID" disabled/>
                                    </li>
                                    <li class="list-group-item">
                                        <label class="text-info" for="CoreLeverNum">CoreLeverNum</label>
                                        <input type="text" placeholder="CoreLeverNum" class="form-control" id="CoreLeverNum" v-model="LeverItem.CoreLeverNum" />
                                    </li>
                                    <li class="list-group-item">
                                        <label class="text-info" for="CoreLeverDetails">CoreLeverDetails</label>
                                        <input type="text" placeholder="CoreLeverDetails" class="form-control" id="CoreLeverDetails" v-model="LeverItem.CoreLeverDetails" />
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-block btn-info" v-on:click="insertLever">提交</button>
                                <button type="button" data-dismiss="modal" class="btn btn-block btn-danger">退出</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    var CoreManage = new Vue({
        el: '#CoreManage',
        data: {
            //对象数组
            coreSkillsList: [],
            //对象数组中每一个对象临时存储
            coreSkillsObj: {
                CoreSkillsID: '',
                CoreSkillsGUID: '',
                CoreSkillsName: '',
                CoreSkillsDetails: '',
            },
            leverList: [],
            LeverItem: {
                CoreLeverNum: '',
                CoreSkillsID: '',
                CoreLeverDetails:'',
            },
        },
        methods: {
            updateCoreSkills: function () {
                var formJson = JSON.stringify(this.coreSkillsObj);
                this.$http.post('/CoreSkills/UpdateCoreSkills', formJson, { emulateJSON: true }).then(function (success) {
                    alert("Update Success");
                    this.findCoreSkills();
                    //提示窗体
                }, function (error) {
                    alert("失败!");
                });
            },
            daleteCoreSkills: function (index) {
                this.coreSkillsObj = this.coreSkillsList[index];
                var formJson = JSON.stringify(this.coreSkillsObj);
                this.$http.post('/CoreSkills/DeleteCoreSkills', formJson, { emulateJSON: true }).then(function (success) {
                    this.findCoreSkills();
                    //提示窗体
                    //alert("Delete Success");
                }, function (error) {
                    alert("失败!");
                });
            },
            findCoreSkills: function () {
                this.$http.get('/CoreSkills/FindAllCoreSkills').then(function (success) {
                    //数据处理
                    this.coreSkillsList.splice(0, this.coreSkillsList.length);
                    for (var item = 0; item < success.data.length; item++) {
                        var obj = {
                            CoreSkillsID: success.data[item].CoreSkillsID,
                            CoreSkillsGUID: success.data[item].CoreSkillsGUID,
                            CoreSkillsName: success.data[item].CoreSkillsName,
                            CoreSkillsDetails: success.data[item].CoreSkillsDetails
                        };
                        this.coreSkillsList.push(obj);
                    }
                }, function (error) {
                    alert("失败");
                });
            },
            insertCoreSkills: function () {
                var formJson = JSON.stringify(this.coreSkillsObj);
                this.$http.post('/CoreSkills/InsertCoreSkills', formJson, { emulateJSON: true }).then(function (success) {
                    this.findCoreSkills();
                    //提示窗体
                    alert("Insert Success");
                }, function (error) {
                    alert("失败!");
                });
            },
            GetCoreSkills: function (index) {
                this.coreSkillsObj = this.coreSkillsList[index];
            },
            /**************************************************************/
            //添加等级
            insertLever: function () {
                var formJson = JSON.stringify(this.LeverItem);
                this.$http.post('/CoreSkills/InsertLever', formJson, { emulateJSON: true }).then(function (success) {
                    alert("InsertLever Success");
                }, function (error) {
                    alert("失败");
                });
            },
            //查询等级
            findLeverList: function (index) {
                this.leverList.splice(0, this.leverList.length);
                var obj = {CoreSkillsID: this.coreSkillsList[index].CoreSkillsID };
                var formJson = JSON.stringify(obj);
                this.$http.post('/CoreSkills/FindAllLever', formJson).then(function (success) {
                    //数据处理
                    for (var item = 0; item < success.data.length; item++) {
                        var obj = {
                            CoreLeverID: success.data[item].CoreLeverID,
                            CoreLeverNum: success.data[item].CoreLeverNum,
                        };
                        this.leverList.push(obj);
                    }
                }, function (error) {
                    
                    alert("失败");
                });
            },
            
            //删除等级
            deleteLever: function (firstIndex, secondIndex) {
                if (confirm("确认删除技能<" + this.coreSkillsList[firstIndex].CoreSkillsName + ">下的:<" + this.leverList[secondIndex].CoreLeverNum + ">等级吗？")) {
                    var obj = { CoreSkillsID: this.coreSkillsList[firstIndex].CoreSkillsID, CoreLeverID: this.leverList[secondIndex].CoreLeverID };
                    var formJson = JSON.stringify(obj);
                    this.$http.post('/CoreSkills/DeleteLever', formJson, { emulateJSON: true }).then(function (success) {
                        //提示窗体
                        alert("DeleteLever Success");
                    }, function (error) {
                        alert("失败!");
                    });
                }
            },
            GetCoreSkillsID: function (index) {
                this.LeverItem.CoreSkillsID = this.coreSkillsList[index].CoreSkillsID;
            }
        },
        mounted() {
            this.findCoreSkills();
        },
    });
</script>
