
@{
    ViewBag.Title = "AdminPage";
}
    <section class="container">
        <div class="row">
            <div id="JobManage">
                <table class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr class="bg-info">
                            <th>ProfessionalID</th>
                            <th>ProfessionalName</th>
                            <th>ProfessionalDetails</th>
                            <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-refresh">&nbsp;Update</span></a></th>
                            <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-fire">&nbsp;Delete</span></a></th>
                            <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-fire">&nbsp;ShowSkills</span></a></th>
                            <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-fire">&nbsp;AllotCoreSkills</span></a></th>
                            <th><a href="javascript:void(0);"><span class="glyphicon glyphicon-fire">&nbsp;AllotTeachSkills</span></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value,index) in jobList">
                            <td>{{value.ProfessionalID}}</td>
                            <td>{{value.ProfessionalName}}</td>
                            <td>{{value.ProfessionalDetails}}</td>
                            <td><a data-toggle="modal" href="#updateJob" v-on:click="GetJob(index)"><span class="glyphicon glyphicon-refresh">&nbsp;Update</span></a></td>
                            <td><a v-on:click="daleteJob(index)"><span class="glyphicon glyphicon-fire">&nbsp;Delete</span></a></td>
                            <td class="text-center">
                                <a v-on:click="showSelectedInfo(index)"><span class="glyphicon glyphicon-fire">&nbsp;ShowSkills</span></a>
                                <table class="table table-responsive table-bordered" style="display:none" v-bind:id="'c'+index">
                                    <caption>AllotCoreSkills</caption>
                                    <thead>
                                    <th>Id</th>
                                    <th>Name</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,SelectedIndex) in  selectedCoreSkillsList">
                                            <td>{{item.CoreSkillsID}}</td>
                                            <td>{{item.CoreSkillsName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered" style="display:none" v-bind:id="'t'+index">
                                    <caption>AllotTeachSkills</caption>
                                    <thead>
                                    <th>Id</th>
                                    <th>Name</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,SelectedIndex) in  selectedTeachSkillsList">
                                            <td>{{item.TeachSkillsID}}</td>
                                            <td>{{item.TeachSkillsName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <!--添加核心技能-->
                            <td>
                                <div class="dropdown">
                                    <a data-toggle="dropdown" href="#" v-on:click="findCoreSkills">AllotCoreSkills<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="DropList">
                                        <li>
                                            <div>
                                                <span class="glyphicon glyphicon-paperclip">&nbsp;</span><strong class="text-uppercase">CoreSkills</strong>
                                                <input type="text" class=" form-control" placeholder="条件查询" v-model="findInput" v-on:blur="loseFocus" />
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <span class="col-lg-6 text-primary bg-light rounded-circle">ID</span>
                                                <span class="col-lg-6 text-info bg-light">Name</span>
                                            </div>
                                        </li>
                                        <li v-for="(valueCoreSkills,indexCoreSkills) in coreSkillsList">
                                            <div v-on:click="allotCoreSkills(index,indexCoreSkills)">
                                                <span class="col-lg-6 text-primary bg-light">{{valueCoreSkills.CoreSkillsID}}</span>
                                                <span class="col-lg-6 text-info bg-light">{{valueCoreSkills.CoreSkillsName}}</span>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </td>
                            <!--添加专业技能-->
                            <td>
                                <div class="dropdown">
                                    <a data-toggle="dropdown" href="#" v-on:click="findTeachSkills">AllotTeachSkills<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="DropList">
                                        <li>
                                            <div>
                                                <span class="glyphicon glyphicon-paperclip">&nbsp;</span><strong class="text-uppercase">TeachSkills</strong>
                                                <input type="text" class=" form-control" placeholder="条件查询" v-model="findTeachInput" v-on:blur="loseTeachFocus" />
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <span class="col-lg-6 text-primary bg-light rounded-circle">ID</span>
                                                <span class="col-lg-6 text-info bg-light">Name</span>
                                            </div>
                                        </li>
                                        <li v-for="(valueTeachSkills,indexTeachSkills) in teachSkillsList">
                                            <div v-on:click="allotTeachSkills(index,indexTeachSkills)">
                                                <span class="col-lg-6 text-primary bg-light">{{valueTeachSkills.TeachSkillsID}}</span>
                                                <span class="col-lg-6 text-info bg-light">{{valueTeachSkills.TeachSkillsName}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ol class="breadcrumb">
                    <li class="text-warning">JobManage</li>
                    <li><a class="text-danger" data-toggle="modal" href="#addJob">AddJob</a></li>
                </ol>
                <!-- 插入模态框（Modal） -->
                <div class="modal fade" id="addJob" tabindex="-1" role="dialog" aria-labelledby="addJobHead" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="addJobHead">
                                    Insert Job
                                </h4>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group form-group">
                                    <li class="list-group-item">
                                        <label class="text-info" for="ProfessionalName">ProfessionalName</label>
                                        <input type="text" placeholder="ProfessionalName" class="form-control" id="ProfessionalName" v-model="jobObj.ProfessionalName" />
                                    </li>
                                    <li class="list-group-item">
                                        <label class="text-info" for="ProfessionalDetails">ProfessionalDetails</label>
                                        <input type="text" placeholder="ProfessionalDetails" class="form-control" id="ProfessionalDetails" v-model="jobObj.ProfessionalDetails" />
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-block btn-info" v-on:click="insertJob">提交</button>
                                <button type="button" data-dismiss="modal" class="btn btn-block btn-danger">退出</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <!-- 更新模态框（Modal） -->
                <div class="modal fade" id="updateJob" tabindex="-1" role="dialog" aria-labelledby="updateJobHead" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="updateJobHead">
                                    Update Job
                                </h4>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group form-group">
                                    <li class="list-group-item">
                                        <label class="text-info" for="ProfessionalID">ProfessionalID</label>
                                        <input type="text" placeholder="ProfessionalID" class="form-control" id="ProfessionalID" v-model="jobObj.ProfessionalID" disabled />
                                    </li>
                                    <li class="list-group-item">
                                        <label class="text-info" for="ProfessionalName">ProfessionalName</label>
                                        <input type="text" placeholder="ProfessionalName" class="form-control" id="ProfessionalName" v-model="jobObj.ProfessionalName" />
                                    </li>
                                    <li class="list-group-item">
                                        <label class="text-info" for="ProfessionalDetails">ProfessionalDetails</label>
                                        <input type="text" placeholder="ProfessionalDetails" class="form-control" id="ProfessionalDetails" v-model="jobObj.ProfessionalDetails" />
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-block btn-info" v-on:click="updateJob">提交</button>
                                <button type="button" data-dismiss="modal" class="btn btn-block btn-danger">退出</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div>
        </div>
    </section>
<script type="text/javascript">
    var JobManage = new Vue({
        el: '#JobManage',
        data: {
            //对象数组
            jobList: [],
            //对象数组中每一个对象临时存储
            jobObj: {
                ProfessionalID:'',
                ProfessionalName: '',
                ProfessionalDetails: '',
            },
            findInput: '',//查询条件
            coreSkillsList: [],
            coreSkillsListCopy: [],

            findTeachInput: '',//查询条件
            teachSkillsList: [],
            teachSkillsListCopy: [],

            selectedCoreSkillsList: [],
            selectedTeachSkillsList:[],
        },
        methods: {
            updateJob: function () {
                var formJson = JSON.stringify(this.jobObj);
                this.$http.post('/Job/UpdateJob', formJson, { emulateJSON: true }).then(function (success) {
                    alert("Update Success");
                    this.findjob();
                    //提示窗体
                }, function (error) {
                    alert("失败!");
                });
            },
            daleteJob: function (index) {
                this.jobObj = this.jobList[index];
                var formJson = JSON.stringify(this.jobObj);
                this.$http.post('/Job/DeleteJob', formJson, { emulateJSON: true }).then(function (success) {
                    this.findJob();
                    //提示窗体
                    //alert("Delete Success");
                }, function (error) {
                    alert("失败!");
                });
            },
            findJob: function () {
                this.$http.get('/Job/FindAllJob').then(function (success) {
                    //数据处理
                    this.jobList.splice(0, this.jobList.length);
                    for (var item = 0; item < success.data.length; item++) {
                        var obj = {
                            ProfessionalID: success.data[item].ProfessionalID,
                            ProfessionalName: success.data[item].ProfessionalName,
                            ProfessionalDetails: success.data[item].ProfessionalDetails
                        };
                        this.jobList.push(obj);
                    }
                }, function (error) {
                    alert("失败");
                });
            },
            insertJob: function () {
                var formJson = JSON.stringify(this.jobObj);
                this.$http.post('/Job/InsertJob', formJson, { emulateJSON: true }).then(function (success) {
                    this.findJob();
                    //提示窗体
                    alert("Insert Success");
                }, function (error) {
                    alert("失败!");
                });
            },
            GetJob: function (index) {
                this.jobObj = this.jobList[index];
            },
            //查询核心技能
            findCoreSkills: function () {
                this.$http.get('/CoreSkills/FindAllCoreSkills').then(function (success) {
                    //数据处理
                    this.coreSkillsList.splice(0, this.coreSkillsList.length);
                    for (var item = 0; item < success.data.length; item++) {
                        var obj = {
                            CoreSkillsID: success.data[item].CoreSkillsID,
                            CoreSkillsName: success.data[item].CoreSkillsName,
                        };
                        this.coreSkillsList.push(obj);
                        this.coreSkillsListCopy = this.coreSkillsList;
                    }
                }, function (error) {
                    alert("失败");
                });
            },
            //分配核心技能
            allotCoreSkills: function (firstIndex, secondIndex) {
                if (confirm("确认给角色<" + this.jobList[firstIndex].ProfessionalName + ">分配核心技能:<" + this.coreSkillsList[secondIndex].CoreSkillsName + ">吗？")) {
                    var obj = { ProfessionalID: this.jobList[firstIndex].ProfessionalID, CoreSkillsID: this.coreSkillsList[secondIndex].CoreSkillsID };
                    var formJson = JSON.stringify(obj);
                    this.$http.post('/Job/InsertProfessionalCoreSkills', formJson, { emulateJSON: true }).then(function (success) {
                        //提示窗体
                        this.refreshSelected(firstIndex);
                        alert("InsertProfessionalCoreSkills Success");
                    }, function (error) {
                        alert("失败!");
                    });
                }
            },
            //条件检索
            findCoreSkillsList: function () {
                //检索
                var result = [];
                for (var i = 0; i < this.coreSkillsListCopy.length; i++) {
                    if (this.coreSkillsListCopy[i].CoreSkillsName.indexOf(this.findInput) != -1) {
                        result.push(this.coreSkillsListCopy[i]);
                    }
                }
                this.coreSkillsList = result;
            },
            //查询框失去焦点
            loseFocus: function () {

            },
            /********************************************************************/
            //分配专业技能
            findTeachSkills: function () {
                this.$http.get('/TeachSkills/FindAllTeachSkills').then(function (success) {
                    //数据处理
                    this.teachSkillsList.splice(0, this.teachSkillsList.length);
                    for (var item = 0; item < success.data.length; item++) {
                        var obj = {
                            TeachSkillsID: success.data[item].TeachSkillsID,
                            TeachSkillsName: success.data[item].TeachSkillsName,
                        };
                        this.teachSkillsList.push(obj);
                        this.teachSkillsListCopy = this.teachSkillsList;
                    }
                }, function (error) {
                    alert("失败");
                });
            },
            //分配专业技能
            allotTeachSkills: function (firstIndex, secondIndex) {
                if (confirm("确认给角色<" + this.jobList[firstIndex].ProfessionalName + ">分配专业技能:<" + this.teachSkillsList[secondIndex].TeachSkillsName + ">吗？")) {
                    var obj = { ProfessionalID: this.jobList[firstIndex].ProfessionalID, TeachSkillsID: this.teachSkillsList[secondIndex].TeachSkillsID };
                    var formJson = JSON.stringify(obj);
                    this.$http.post('/Job/InsertProfessionalTeachSkills', formJson, { emulateJSON: true }).then(function (success) {
                        //提示窗体
                        this.refreshSelected(firstIndex);
                        alert("InsertProfessionalTeachSkills Success");
                    }, function (error) {
                        alert("失败!");
                    });
                }
            },
            findTeachSkillsList: function () {
                //检索
                var result = [];
                for (var i = 0; i < this.teachSkillsListCopy.length; i++) {
                    if (this.teachSkillsListCopy[i].TeachSkillsName.indexOf(this.findTeachInput) != -1) {
                        result.push(this.teachSkillsListCopy[i]);
                    }
                }
                this.teachSkillsList = result;
            },
            loseTeachFocus: function () {

            },
            //显示已经分配的技能
            showSelectedInfo: function (index) {
                var obj = { ProfessionalID: this.jobList[index].ProfessionalID };
                var json = JSON.stringify(obj);
                this.$http.post('/CoreSkills/AllotCoreSkills', json, { emulateJSON: true }).then(function (success) {
                    //数据处理
                    this.selectedCoreSkillsList.splice(0, this.selectedCoreSkillsList.length);
                    for (var item = 0; item < success.data.length; item++) {
                        var obj = {
                            CoreSkillsID: success.data[item].CoreSkillsID,
                            CoreSkillsName: success.data[item].CoreSkillsName,
                        };
                        this.selectedCoreSkillsList.push(obj);
                    }
                }, function (error) {
                    alert("失败");
                    });
                this.$http.post('/TeachSkills/AllotTeachSkills', json, { emulateJSON: true }).then(function (success) {
                    //数据处理
                    this.selectedTeachSkillsList.splice(0, this.selectedTeachSkillsList.length);
                    for (var item = 0; item < success.data.length; item++) {
                        var obj = {
                            TeachSkillsID: success.data[item].TeachSkillsID,
                            TeachSkillsName: success.data[item].TeachSkillsName,
                        };
                        this.selectedTeachSkillsList.push(obj);
                    }
                }, function (error) {
                    alert("失败");
                    });
                $("#JobManage>table table:not(#c" + index + "):not(#t" + index + ")").hide();

                if ($("#c" + index + "").is(":hidden")) {
                    $("#c" + index + "").show();
                } else {
                    $("#c" + index + "").hide();
                }

                if ($("#t" + index + "").is(":hidden")) {
                    $("#t" + index + "").show();
                } else {
                    $("#t" + index + "").hide();
                }
            },
            refreshSelected: function (index) {
                var obj = { ProfessionalID: this.jobList[index].ProfessionalID };
                var json = JSON.stringify(obj);
                this.$http.post('/CoreSkills/AllotCoreSkills', json, { emulateJSON: true }).then(function (success) {
                    //数据处理
                    this.selectedCoreSkillsList.splice(0, this.selectedCoreSkillsList.length);
                    for (var item = 0; item < success.data.length; item++) {
                        var obj = {
                            CoreSkillsID: success.data[item].CoreSkillsID,
                            CoreSkillsName: success.data[item].CoreSkillsName,
                        };
                        this.selectedCoreSkillsList.push(obj);
                    }
                }, function (error) {
                    alert("失败");
                });
                this.$http.post('/TeachSkills/AllotTeachSkills', json, { emulateJSON: true }).then(function (success) {
                    //数据处理
                    this.selectedTeachSkillsList.splice(0, this.selectedTeachSkillsList.length);
                    for (var item = 0; item < success.data.length; item++) {
                        var obj = {
                            TeachSkillsID: success.data[item].TeachSkillsID,
                            TeachSkillsName: success.data[item].TeachSkillsName,
                        };
                        this.selectedTeachSkillsList.push(obj);
                    }
                }, function (error) {
                    alert("失败");
                });
            }
            
        },
        watch: {
            findInput() {
                this.findCoreSkillsList();
            },
            findTeachInput() {
                this.findTeachSkillsList();
            }
        },
        mounted() {
            this.findJob();
        },
    });


</script>
