<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>网站主页</title>
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow ">
        <h5 class="my-0 mr-md-auto font-weight-bold text-primary">蜂&nbsp;&nbsp;鸟</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-info font-weight-bold" href="#">系统演示</a>
            <a class="p-2 text-info font-weight-bold" href="#">操作文档</a>
            <a class="p-2 text-info font-weight-bold" href="#">版本</a>
            <a class="p-2 text-info font-weight-bold" href="#">支持</a>
        </nav>
        <a class="btn btn-outline-primary" href="~/Login/LoginView">登陆</a>
        <a class="btn btn-outline-primary" href="~/Reigst/RegistView">注册</a>
    </div>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">欢迎你&lt; 2251754654&gt;</h1>
        <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">普通用户</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">账户 <strong class="text-muted">/评价</strong></h4>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>修改密码</li>
                        <li>个人信息管理</li>
                        <li>进行自我评价</li>
                        <li>为他人评价</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" id="GoToAccount">转到此页面</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">管理员</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">职业<strong class="text-muted">/评价</strong></h4>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>此页面用来，管理角色信息</li>
                        <li>职业信息，核心技能，</li>
                        <li>与专业技能，为系统用户分配角色，</li>
                        <li>管理等级信息，评论信息。</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-warning" id="GoToSystemSettings">转到此页面</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">退出</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">操作日志<strong class="text-muted">/登陆可见</strong></h4>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>此页面可以</li>
                        <li>记住密码，方便下次</li>
                        <li>登陆，也可以查看当前</li>
                        <li>用户操作日志</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-danger" id="GoToLogout">转到此页面</button>
                </div>
            </div>
        </div>
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">

                    <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Cool stuff</a></li>
                        <li><a class="text-muted" href="#">Random feature</a></li>
                        <li><a class="text-muted" href="#">Team feature</a></li>
                        <li><a class="text-muted" href="#">Stuff for developers</a></li>
                        <li><a class="text-muted" href="#">Another one</a></li>
                        <li><a class="text-muted" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Resource</a></li>
                        <li><a class="text-muted" href="#">Resource name</a></li>
                        <li><a class="text-muted" href="#">Another resource</a></li>
                        <li><a class="text-muted" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
<script type="text/javascript">
    $().ready(function () {

        $("#GoToAccount").on("click", function () {
            window.location.href = 'NormalUser.html';
        });
        $("#GoToSystemSettings").click(function () {
            window.location.href = "SysManage/SystemUser.html";
        });
        $("#GoToLogout").click(function () {
            window.location.href = "Logout/Logout.html";
        });
    });
</script>


