
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登陆系统</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="modal-dialog">
                <div class="modal-content col-lg-9" id="login">
                    <div class="modal-header">
                        <div class="text-primary">
                            <span class="glyphicon glyphicon-paperclip">&nbsp;&nbsp;</span><strong class="text-uppercase">Login System</strong>
                        </div>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group form-group">
                            <li class="list-group-item">
                                <!--失败-->
                                <div class="alert alert-warning" v-show="SerialNumber == 0">
                                    <a href="#" class="close" data-dismiss="alert"><span class="glyphicon glyphicon-remove"></span></a>
                                    <span class="glyphicon glyphicon-exclamation-sign"></span><strong>&nbsp;warning&nbsp;{{msg}}</strong>
                                </div>
                                <!--成功-->
                                <div class="alert alert-success" v-show="SerialNumber == 1">
                                    <a href="#" class="close" data-dismiss="alert"><span class="glyphicon glyphicon-remove"></span></a>
                                    <span class="glyphicon glyphicon-ok-circle"></span><strong>&nbsp;tip&nbsp;{{msg}}</strong>
                                </div>
                                <!--加载中-->
                                <div class="alert alert-info" v-show="SerialNumber == 2">
                                    <a href="#" class="close" data-dismiss="alert"><span class="glyphicon glyphicon-remove"></span></a>
                                    <span class="glyphicon glyphicon glyphicon-refresh"></span>
                                    <strong>&nbsp;&nbsp;loading&nbsp;{{msg}}</strong>glyphicon glyphicon-repeat
                                </div>
                            </li>
                            <li class="list-group-item">
                                <label class="text-info" for="UserName">UserName</label>
                                <input type="text" placeholder="UserName" class="form-control" id="UserName" v-model="UserName" v-on:focus ="focus" />
                            </li>
                            <li class="list-group-item">
                                <label class="text-info" for="Password">Password</label>
                                <input type="password" placeholder="Password" class="form-control" id="Password" v-model="Password" v-on:focus="focus" />
                            </li>
                            <li class="list-group-item">
                                <div class="col-lg-8">
                                    <button type="button" class="btn btn btn-block btn-info" v-on:click="login">提交</button>
                                </div>
                                <div class="col-lg-4">
                                    <button type="button" class="btn btn btn-block ">注册</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">

    new Vue({
        el: '#login',
        data: {
            UserName: '',
            Password: '',
            SerialNumber: -1,
            msg: '',
        },
        methods: {
            login: function () {
                this.SerialNumber = 2;
                this.msg = "Please wait a moment...";
                window.setTimeout(function () {}, 1000);
                var json = { UserName: this.UserName, Password: this.Password };
                this.$http.post("/Login/Login", json, { emulateJSON: true }).then(
                    function (success) {
                        if (success.data.UserPassword == "1") {
                            this.SerialNumber = 1;
                            this.msg = "Login Success";
                            window.setTimeout(function () {
                                window.location.href = "/Home/Index";
                            }, 1000);
                        }
                        else {
                            this.SerialNumber = 0;
                            this.msg = success.data.UserName;
                        }
                    }, function (error) {
                        this.msg = error;

                    }
                );
            },
            focus: function () {
                this.SerialNumber = -1;
            }
        },
    });
</script>